.cart {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
}

.cart-info img {
  width: 70px;
  border-radius: 5px;
}
.cart-info h6 {
  font-size: 20px;
  padding: 15px;
}

.cart-info {
  display: flex;
  align-items: center;
}

.delete-icon {
  color: black;
  cursor: pointer;
}
