.shop-container{
   display: grid;
   grid-template-columns: 3fr 1fr;
   margin: 30px 30px;
}
.products-container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 20px;
   
}
.cart-container{
   margin-left: 50px;
}

@media screen and (max-width: 600px){
   .shop-container{
      grid-template-columns: 1fr;
   }
   .products-container{
      grid-template-columns: 1fr;
   }
   .cart-container{
      margin-left: 0px;
   }
}
