.product {
  border: 1px solid #ccc;
  border-radius: 8px;
  
}
.product img {
  width: 286px;
  height: 286px;
  margin: 7px;
}
.product-name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  margin-top: 7px;

}
.product-info{
   margin: 0 14px;
   margin-bottom: 0;
   margin-top: 5px;
}

.product-button{
   width: 100%;
   background-color: moccasin;
   border: none;
   border-radius: 8px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.product-button p{
   margin-top: 10px;
   margin-right: 10px;

}
.product-button:hover{
   background-color: #FBB73F;
}